@use '../../shared-styles/constants';

#scroll-block {
  margin-top: 85px;
  text-align: center;

  #load-more-button {
    @include constants.default-text;
    font-weight: 600;
    background: transparent;
    border: 1px solid constants.$accent-color;
    border-radius: 16px;
    color: constants.$accent-color;

    width: 300px;
    height: 60px;
    text-align: center;
  }
}

#empty-recipe-list-text {
  margin-top: 40px;
  @include constants.default-text;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: constants.$accent-color;
  opacity: 50%;
  text-align: center;
}
