<button class="close-icon" mat-dialog-close mat-icon-button>
  <mat-icon>close</mat-icon>
</button>

<div class="content-container">
  <h1 mat-dialog-title>Войдите в профиль</h1>
  <div class="content">
    <div mat-dialog-content>
      <p>{{text}}</p>
    </div>

    <div mat-dialog-actions>
      <div class="main-buttons-block">
        <button (click)="logIn()" class="action-button submit-button" mat-stroked-button>Войти</button>
        <button (click)="register()" class="action-button cancel-button" mat-stroked-button>Регистрация</button>
      </div>
    </div>
  </div>
</div>
