@use '../../../constants';

#clickable-wrapper {
  padding: 0;
  white-space: normal;
  text-align: left;
}

.wrapper {
  display: block;
  border-radius: 72px 24px 24px 0;
  box-shadow: 0 16px 72px rgba(34, 39, 47, 0.05);
  width: 100%;
  margin: 40px 0 0;
  background: white;

  #recipe-block {
    height: 430px;
    display: flex;

    #recipe-image {
      border-radius: 72px 0;
    }

    #recipe-info {
      margin-left: 50px;

      #text-block {
        margin-top: 100px;
        width: 600px;

        #recipe-header {
          @include constants.default-header;
          font-size: 24px;
          line-height: 30px;
        }

        #recipe-description {
          @include constants.default-text;
          color: constants.$light-black-color;
          line-height: 30px;
          height: 90px;
          overflow: hidden;
        }
      }

      #extra-info-block {
        margin-top: 40px;
        width: 450px;
        height: 64px;
        display: flex;

        #portions-block {
          margin-left: 70px;
        }


        .extra-block {
          display: inline-flex;
          flex-direction: row;

          .extra-icon {
            width: 56px;
            height: 56px;
            font-size: 56px;
            color: constants.$accent-color;
          }

          .extra-time-block {
            display: inline-flex;
            flex-direction: column;

            margin-left: 20px;

            .extra-header {
              @include constants.default-text;
              color: constants.$dark-black-color;
              font-size: 14px;
              line-height: 28px;
              opacity: 50%;
            }

            .extra-value {
              @include constants.default-text;
              color: constants.$dark-black-color;
              font-size: 18px;
              line-height: 28px;
            }
          }
        }

      }

    }
  }
}
