@use '../../shared-styles/constants';

#featured-tags {
  display: block;
  margin-top: 350px;
}

#recipe-of-the-day {
  display: block;
  margin-top: 175px;
}

#search {
  display: block;
  margin-top: 175px;
}
