<div id="activity-overview-block">
  <div class="activity-item">
    <div class="left-activity-block">
      <span>
        <mat-icon>description</mat-icon>
      </span>
      <p>Всего рецептов</p>
    </div>
    <span class="activity-number">
      {{ownRecipes}}
    </span>
  </div>

  <div class="activity-item">
    <div class="left-activity-block">
      <span>
        <mat-icon>description</mat-icon>
      </span>
      <p>Всего лайков</p>
    </div>
    <span class="activity-number">
      {{likedRecipes}}
    </span>
  </div>

  <div class="activity-item">
    <div class="left-activity-block">
      <span>
        <mat-icon>description</mat-icon>
      </span>
      <p>В избранных</p>
    </div>
    <span class="activity-number">
      {{starredRecipes}}
    </span>
  </div>
</div>
