<div id="content">
  <app-back-nav></app-back-nav>
  <div id="recipes-header">
    <h1>Добавить новый рецепт</h1>
  </div>

  <div id="basic-info">
    <div id="image-block" *ngIf="image == null; else imageUploaded">
      <button mat-button id="input-div-clickable-wrapper" (click)="fileUpload.click()">
        <input type="file" class="file-input" [accept]="acceptImageTypes" (change)="onFileSelected($event)" #fileUpload>
        <span id="input-div">
          <mat-icon id="upload-icon">cloud_download</mat-icon>
          <span id="upload-text">Загрузите фото готового блюда</span>
        </span>
      </button>
    </div>

    <ng-template #imageUploaded>
      <div id="uploaded-image-block">
        <img id="uploaded-image" [src]="image" alt="preview">
        <button mat-icon-button class="close-icon" (click)="deleteImage()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

    </ng-template>
<!--    <div id="recipe-info">-->
<!--      <div id="text-block">-->
<!--        <h3 *ngIf="isClickable" id="recipe-header">{{recipe.name}}</h3>-->
<!--        <p id="recipe-description">{{recipe.description}}</p>-->
<!--      </div>-->

<!--      <div id="extra-info-block">-->
<!--        <div class="extra-block" id="cooking-block">-->
<!--          <mat-icon class="extra-icon">timer</mat-icon>-->
<!--          <div class="extra-time-block">-->
<!--            <span class="extra-header">Время приготовления</span>-->
<!--            <span class="extra-value">{{recipe.cookingTimeMin}} минут</span>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="extra-block" id="portions-block">-->
<!--          <mat-icon class="extra-icon">people</mat-icon>-->
<!--          <div class="extra-time-block">-->
<!--            <span class="extra-header">Рецепт на</span>-->
<!--            <span class="extra-value">{{recipe.portions}} персон</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>

  <div id="bottom-blocks">

  </div>
</div>
