<app-back-nav></app-back-nav>
<ng-container>
  <div id="recipes-header">
    <h1>{{isEdit ? "Редактировать рецепт" : "Добавить новый рецепт"}}</h1>
    <button (click)="publish()" color="accent" id="publish-recipe-button" mat-flat-button type='submit'>
      {{isEdit ? "Внести изменения" : "Опубликовать"}}
    </button>
  </div>

  <form [formGroup]="recipeForm">
    <div id="primary-block">
      <div *ngIf="image == null; else imageUploaded" id="image-block">
        <button (click)="fileUpload.click()" id="input-div-clickable-wrapper" mat-button>
          <input #fileUpload (change)="onFileSelected($event)" [accept]="acceptImageTypes" class="file-input" required
                 type="file">
          <span id="input-div">
        <mat-icon id="upload-icon">cloud_download</mat-icon>
        <span id="upload-text">Загрузите фото готового блюда</span>
      </span>
        </button>
      </div>

      <ng-template #imageUploaded>
        <div id="uploaded-image-block">
          <img [src]="image" alt="preview" id="uploaded-image">
          <button (click)="deleteImage()" class="close-icon" mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>


      <div id="primary-recipe-info">
        <div class="input-block-with-margin">
          <mat-form-field class="wide-mat-form-field">
            <mat-label>Название рецепта</mat-label>
            <input [formControl]="recipeName" matInput required type="text">
          </mat-form-field>
        </div>

        <div class="input-block-with-margin">
          <mat-form-field id="recipe-description">
            <mat-label>Краткое описание рецепта (150 символов)</mat-label>
            <textarea [formControl]="recipeDescription" [maxRows]="4" [rows]="4" autosize matInput></textarea>
          </mat-form-field>
        </div>

        <div class="input-block-with-margin">
          <mat-form-field class="wide-mat-form-field">
            <mat-label>Теги</mat-label>
            <mat-chip-list #chipList>
              <mat-chip (removed)="removeTag(tag)" *ngFor="let tag of tags"
                        [removable]="true" [selectable]="true">
                {{tag}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input (matChipInputTokenEnd)="addTag($event)"
                     [matChipInputAddOnBlur]="true"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     placeholder="Добавить тег...">
            </mat-chip-list>
          </mat-form-field>
        </div>

        <div class="input-block-with-margin" id="cooking-portions-line">
          <mat-form-field class="line-form-field">
            <mat-label>Время готовки</mat-label>
            <input [formControl]="cookingTime" matInput type="number">
          </mat-form-field>
          <span>Минут</span>

          <mat-form-field class="line-form-field" id="second-mat-form-field">
            <mat-label>Порций в блюде</mat-label>
            <input [formControl]="portions" matInput type="number">
          </mat-form-field>
          <span>Персон</span>
        </div>
      </div>
    </div>

    <div id="bottom-blocks">
      <div id="first-bottom-block">
        <h2>Ингредиенты</h2>
        <div *ngFor="let _ of ingredients.controls; let i = index" class="ingredient-block" formArrayName="ingredients">
          <ng-container [formGroupName]="i">
            <mat-form-field class="wide-mat-form-field ingredient-header">
              <mat-label>Заголовок для ингредиентов</mat-label>
              <input formControlName="header" matInput type="text">
            </mat-form-field>

            <mat-form-field class="ingredient-value">
              <mat-label>Список продуктов для категории</mat-label>
              <textarea [maxRows]="10" [minRows]="4" autosize formControlName="value" matInput></textarea>
            </mat-form-field>

            <button (click)="deleteIngredient(i)" class="close-icon close-ingredient-icon" mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </ng-container>
        </div>


        <button (click)="addIngredient()" class="add-item-button" color="accent" mat-stroked-button type='button'>
          <mat-icon>add</mat-icon>
          <span>Добавить заголовок</span>
        </button>
      </div>
      <div id="second-bottom-block">
        <div *ngFor="let _ of steps.controls; let i = index" class="step" formArrayName="steps">
          <ng-container [formGroupName]="i">
            <h3 class="step-header">Шаг {{i + 1}}</h3>
            <mat-form-field class="step-value">
              <mat-label>Описание шага</mat-label>
              <textarea [maxRows]="10" [minRows]="3" autosize formControlName="value" matInput></textarea>
            </mat-form-field>
            <button (click)="deleteStep(i)" class="close-icon close-step-icon" mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </ng-container>
        </div>

        <div id="add-step-wrapper">
          <button (click)="addStep()" class="add-item-button" color="accent" mat-stroked-button type='button'>
            <mat-icon>add</mat-icon>
            <span>Добавить шаг</span>
          </button>
        </div>
      </div>
    </div>
  </form>

</ng-container>
