<div *ngIf="name; then authorized else nonAuthorized"></div>

<ng-template #authorized>
  <div class="auth-block" id="authorized-block">
    <a [routerLink]="['/profile']" class="hello-btn profile-btn" mat-button>
      <button class="account-icon-wrapper" mat-fab>
        <mat-icon class="account-icon">person_outline</mat-icon>
      </button>
      <span class="hello-text">Привет, {{name}}</span>
    </a>
    <mat-divider [vertical]="true" id="divider"></mat-divider>
    <button (click)="logOut()" id="exit-btn" mat-icon-button>
      <mat-icon id="logout-icon">logout</mat-icon>
    </button>
  </div>
</ng-template>


<ng-template #nonAuthorized>
  <div class="auth-block" id="non-authorized-block">
    <button (click)="logIn()" class="hello-btn" mat-button>
      <button class="account-icon-wrapper" mat-fab>
        <mat-icon class="account-icon">person_outline</mat-icon>
      </button>
      <span class="hello-text">Войти</span>
    </button>
  </div>

</ng-template>
