@use '~@angular/material' as mat;
@use 'constants';

@include mat.core();

$recipes-angular-primary: mat.define-palette(constants.$recipes-primary-palette);
$recipes-angular-accent: mat.define-palette(constants.$recipes-accent-palette);
$recipes-angular-warn: mat.define-palette(mat.$red-palette);

$recipes-angular-theme: mat.define-light-theme((
  color: (
    primary: $recipes-angular-primary,
    accent: $recipes-angular-accent,
    warn: $recipes-angular-warn,
  )
));

@include mat.all-component-themes($recipes-angular-theme);

html, body {
  height: 100%;
}

body {
  font-family: Montserrat, "Montserrat", sans-serif;
  background-color: constants.$primary-color;
  margin-left: max(25%, 10px);
  margin-right: max(25%, 10px);
}
