@use '~@angular/material' as mat;
@use 'constants';

@include mat.core();

$recipes-angular-primary: mat.define-palette(constants.$recipes-primary-palette);
$recipes-angular-accent: mat.define-palette(constants.$recipes-accent-palette);
$recipes-angular-warn: mat.define-palette(mat.$red-palette);

$recipes-angular-theme: mat.define-light-theme((
  color: (
    primary: $recipes-angular-primary,
    accent: $recipes-angular-accent,
    warn: $recipes-angular-warn,
  )
));

@include mat.all-component-themes($recipes-angular-theme);

html, body {
  height: 100%;
  font-family: Montserrat, "Montserrat", sans-serif;
  background-color: constants.$primary-color;
}

.login-dialog-container {
  .mat-dialog-container {
    padding: 0;
    height: 500px;
    width: 700px;
  }
}

.register-dialog-container {
  .mat-dialog-container {
    padding: 0;
    height: 580px;
    width: 700px;
  }
}


mat-form-field {
  @include constants.default-text;
  color: constants.$dark-black-color;
  font-size: 16px;
  line-height: 28px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0 !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}


