@use '~@angular/material' as mat;
@use 'app/shared-styles/constants';

@include mat.core();

$recipes-angular-primary: mat.define-palette(constants.$recipes-primary-palette);
$recipes-angular-accent: mat.define-palette(constants.$recipes-accent-palette);
$recipes-angular-warn: mat.define-palette(mat.$red-palette);

$recipes-angular-theme: mat.define-light-theme((
  color: (
    primary: $recipes-angular-primary,
    accent: $recipes-angular-accent,
    warn: $recipes-angular-warn,
  )
));

@include mat.all-component-themes($recipes-angular-theme);

html, body {
  height: 100%;
  font-family: Montserrat, "Montserrat", sans-serif;
  background-color: constants.$primary-color;
}

.login-dialog-container {
  .mat-dialog-container {
    padding: 0;
    height: 500px;
    width: 700px;
  }
}

.register-dialog-container {
  .mat-dialog-container {
    padding: 0;
    height: 580px;
    width: 700px;
  }
}


.auth-dialog-container {
  .mat-dialog-container {
    padding: 0;
    height: 340px;
    width: 700px;
  }
}
