<app-back-nav></app-back-nav>

<ng-container>
  <div id="recipes-header">
    <h1>Мой профиль</h1>
  </div>

  <div [formGroup]="profileForm" id="profile-info">
    <div id="left-profile-block">
      <div>
        <mat-form-field class="wide-mat-form-field">
          <mat-label>Имя</mat-label>
          <input [formControl]="name" matInput required type="text">
        </mat-form-field>
      </div>

      <div class="input-block-with-margin">
        <mat-form-field class="wide-mat-form-field">
          <mat-label>Логин</mat-label>
          <input [formControl]="login" matInput required type="text">
          <mat-error *ngIf="loginHasError">{{getLoginErrorText()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="input-block-with-margin">
        <mat-form-field class="wide-mat-form-field">
          <mat-label>Пароль</mat-label>
          <input [formControl]="password" [placeholder]="passwordPlaceHolder" matInput required type="password">
          <mat-hint>Минимум 8 символов</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div id="right-profile-block">
      <div>
        <mat-form-field disabled="true" id="bio">
          <mat-label>Напишите немного о себе</mat-label>
          <textarea [formControl]="bio" [maxRows]="6" [rows]="6" autosize matInput></textarea>
        </mat-form-field>
      </div>
    </div>

    <button (click)="editProfile()" *ngIf="!isEditMode else applyChangesButton" class="edit-icon" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>

    <ng-template #applyChangesButton>
      <button (click)="applyChanges()" class="edit-icon edit-icon-approve" mat-icon-button>
        <mat-icon>done</mat-icon>
      </button>
    </ng-template>

  </div>

  <div id="overview-block">
    <app-user-stats></app-user-stats>
  </div>

  <div id="my-recipes-block">
    <h2>Мои рецепты</h2>
    <app-recipe-list></app-recipe-list>
  </div>
</ng-container>
