@use '../../shared-styles/constants';

app-back-nav {
  display: block;
  margin-top: 80px - 22px;
}

#recipes-header {
  margin-top: 10px;
  h1 {
    @include constants.default-header;
    color: constants.$dark-black-color;
  }
}

#profile-info {
  margin-top: 40px;
  position: relative;
  display: flex;
  padding: 60px 75px;

  background: #FFFFFF;
  box-shadow: 0 16px 72px rgba(34, 39, 47, 0.05);
  border-radius: 24px;

  mat-error {
    margin-top: 10px;
  }

  mat-hint {
    margin-top: 10px;
  }

  #left-profile-block {
    flex: 1;

    .wide-mat-form-field {
      height: 40px;
      width: 100%;
    }
  }

  #right-profile-block {
    margin-left: 40px;
    flex: 1;

    #bio {
      width: 100%;
    }
  }


  .input-block-with-margin {
    margin-top: 25px;
  }

  .edit-icon {
    position: absolute;
    font-size: 24px;
    height: 40px;
    width: 40px;
    padding: 0;
    z-index: 1000;
    top: 23px;
    right: 23px;
  }

  .edit-icon-approve {
    color: constants.$accent-color;
  }
}

#overview-block {
  margin-top: 40px;
}

#my-recipes-block {
  margin-top: 40px;

  h2 {
    @include constants.default-header;
    font-size: 24px;
    line-height: 30px;
  }
}
