<ng-template #recipeBlock>
  <div id="recipe-block">
    <div id="recipe-image-block">
      <img alt="{{getImagePath()}}" height="430" id="recipe-image" src="{{getImagePath()}}" width="430">
      <div id="recipe-author-block">
        <p>{{login}}</p>
      </div>
    </div>
    <div id="recipe-info">
      <div id="recipe-top-info-block">
        <div id="tags-block">
          <div *ngFor="let tag of recipe.tags; first as isFirst" [class.margined-chip]="!isFirst" class="chip">
            <p>{{tag}}</p>
          </div>
        </div>

        <div id="activities-block">
          <button mat-button class="activity first-activity" (click)="doStar($event)">
            <mat-icon>{{starIcon}}</mat-icon>
            <span>{{recipe.starsCount}}</span>
          </button>

          <button mat-button class="activity" (click)="doLike($event)">
            <mat-icon [class.red-like-icon] = "this.recipe.isLiked">{{likeIcon}}</mat-icon>
            <span>{{recipe.likesCount}}</span>
          </button>
        </div>
      </div>


      <div id="text-block">
        <h3 *ngIf="isClickable" id="recipe-header">{{recipe.name}}</h3>
        <p id="recipe-description">{{recipe.description}}</p>
      </div>

      <div id="extra-info-block">
        <div class="extra-block" id="cooking-block">
          <mat-icon class="extra-icon">timer</mat-icon>
          <div class="extra-time-block">
            <span class="extra-header">Время приготовления</span>
            <span class="extra-value">{{recipe.cookingTimeMin}} минут</span>
          </div>
        </div>

        <div class="extra-block" id="portions-block">
          <mat-icon class="extra-icon">people_outline</mat-icon>
          <div class="extra-time-block">
            <span class="extra-header">Рецепт на</span>
            <span class="extra-value">{{recipe.portions}} персон</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<a *ngIf="isClickable; else decorativeInfo" [routerLink]="['/recipe/detail', recipe.id]" class="wrapper" id="clickable-wrapper"
   mat-button>
  <ng-template [ngTemplateOutlet]="recipeBlock"></ng-template>
</a>

<ng-template #decorativeInfo>
  <div class="wrapper">
    <ng-template [ngTemplateOutlet]="recipeBlock"></ng-template>
  </div>
</ng-template>


