#app-wrapper {
  background-image: url("../assets/images/wave.svg");
  background-position: top;
  background-repeat: repeat-y;

  #app-content-wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }
}
