<div *ngIf="isExtended" id="featured-tags-header-block">
  <h2>Умная сортировка по тегам</h2>
  <p>Добавляй рецепты и указывай наиболее популярные теги. Это позволит быстро находить любые категории.</p>
</div>

<div *ngIf="tags" id="featured-tags-content-block">
  <div matRipple *ngFor="let tag of tags; first as isFirst" class="featured-tag" [class.featured-tag-margined]="!isFirst"
       (click)="searchForTag(tag)">
    <div class="tag-icon-block">
      <img src="{{getImagePath(tag)}}" width="24" height="24" alt="{{getImagePath(tag)}}" class="tag-icon">
    </div>
    <h2>{{tag.value}}</h2>
    <p *ngIf="isExtended">{{tag.description}}</p>
  </div>
</div>
