@use '../../shared-styles/constants';

app-back-nav {
  display: block;
  margin-top: 80px - 22px;
}

#recipes-header {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    @include constants.default-header;
    color: constants.$dark-black-color;
  }

  #right-buttons-block {
    #delete-recipe-button {
      @include constants.default-text;
      height: 60px;
      width: 60px;
      margin-right: 18px;

      border: 1px solid rgba(145, 150, 161, 0.7);
      border-radius: 16px;
      background: white;


      mat-icon {
        font-size: 24px;
        color: rgba(158, 163, 172, 0.7);
      }
    }

    #publish-recipe-button {
      @include constants.default-text;
      height: 60px;
      width: 280px;
      border-radius: 16px;

      span, mat-icon {
        margin-right: 20px;
      }
    }
  }


}

#bottom-blocks {
  margin-top: 40px;
  display: flex;

  h2 {
    @include constants.default-text;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: constants.$accent-color;
  }

  #first-bottom-block {
    width: 380px;

    #ingredient-header {
      @include constants.default-text;
      font-weight: 600;
      line-height: 30px;
      color: constants.$light-black-color;
      margin: 0;
    }

    #ingredient-value {
      @include constants.default-text;
      margin: 10px 0 20px;
      line-height: 30px;
      color: constants.$light-black-color;
    }
  }

  #second-bottom-block {
    margin-left: 30px;

    #step {
      background: white;
      box-shadow: 0 16px 72px rgba(34, 39, 47, 0.05);
      border-radius: 24px;
      width: 660px;
      margin-bottom: 20px;
      padding: 50px 70px 50px 70px;

      #step-header {
        @include constants.default-text;
        font-weight: 600;
        line-height: 30px;
        color: constants.$light-black-color;
      }

      #step-value {
        @include constants.default-text;
        line-height: 30px;
        margin-top: -10px;
        color: constants.$light-black-color;
      }
    }

    #bon-appetit-text {
      margin-top: 40px;
      @include constants.default-text;
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;
      text-transform: capitalize;
      color: constants.$accent-color;
      opacity: 50%;
      text-align: center;
    }
  }
}
