<div *ngIf="recipeDetail">
  <app-back-nav></app-back-nav>
  <div id="recipes-header">
    <h1>{{recipeDetail.name}}</h1>
    <div id="right-buttons-block">
      <button mat-fab id="delete-recipe-button" (click)="delete()">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <button mat-flat-button color="accent" id="publish-recipe-button" [routerLink]="['/recipe/edit', recipeDetail.id]"
              type="button">
        <mat-icon>edit</mat-icon>
        <span>Редактировать</span>
      </button>
    </div>

  </div>
  <app-recipe-preview [recipe]="recipeDetail" [isClickable]="false"></app-recipe-preview>

  <div id="bottom-blocks">
    <div id="first-bottom-block">
      <h2>Ингредиенты</h2>
      <div *ngFor="let ingredient of recipeDetail.ingredients">
        <h3 id="ingredient-header">{{ingredient.header}}</h3>
        <pre id="ingredient-value">{{ingredient.value}}</pre>
      </div>
    </div>
    <div id="second-bottom-block">
      <div *ngFor="let val of recipeDetail.steps; let idx = index" id="step">
        <h3 id="step-header">Шаг {{idx + 1}}</h3>
        <p id="step-value">{{val}}</p>
      </div>
    </div>
  </div>
</div>
