@use '../../../shared-styles/constants';

#login-password-block {
  margin-top: 20px;
}

.mat-dialog-content {
  height: 180px;
}

#password-extra {
  text-align: left;
  margin-left: 10px;
  margin-top: 25px;
}

