<a *ngIf="recipe" [routerLink]="['/recipe/detail', recipe.id]" id="wrapper" mat-button>
  <div id="recipe-block">
    <div id="recipe-image-block">
      <img alt="{{getImagePath()}}" height="540" id="recipe-image" src="{{getImagePath()}}" width="540">
      <div id="recipe-author-block">
        <p>{{login}}</p>
      </div>
    </div>
    <div id="recipe-info">
      <div id="top-recipe-info">
        <div id="top-likes">
          <mat-icon>favorite_border</mat-icon>
          <span>{{recipe.likesCount}}</span>
        </div>
        <div id="top-timer">
          <mat-icon>timer</mat-icon>
          <span>{{recipe.cookingTimeMin}} минут</span>
        </div>
      </div>
      <img alt="image-of-the-day" height="95"
           id="recipe-of-the-day-image" src="../../../assets/images/recipe_of_the_day.png" width="101"/>
      <div id="text-block">
        <h3 id="recipe-header">{{recipe.name}}</h3>
        <p id="recipe-description">{{recipe.description}}</p>
      </div>
    </div>
  </div>
</a>
