<button mat-icon-button class="close-icon" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>

<div class="content-container">
  <h1 mat-dialog-title>Войти</h1>
  <div class="content">
    <div mat-dialog-content>
      <form [formGroup]="loginForm">
        <div>
          <mat-form-field>
            <mat-label>Логин</mat-label>
            <input type="text" matInput [formControl]="login">
          </mat-form-field>
        </div>

        <div class="block-with-margin">
          <mat-form-field class="password-field">
            <mat-label>Пароль</mat-label>
            <input type="password" matInput [formControl]="password">
          </mat-form-field>
        </div>
      </form>
    </div>

    <div mat-dialog-actions>
      <div class="main-buttons-block">
        <button mat-stroked-button class="action-button submit-button" (click)="logIn()">Войти</button>
        <button mat-stroked-button class="action-button cancel-button" mat-dialog-close>Отмена</button>
      </div>

     <button class="extra-button" mat-button mat-dialog-close (close)="register()">У меня еще нет аккаунта</button>
    </div>
  </div>
</div>
