@use '../../../constants';

.close-icon {
  float: right;
  font-size: 14px;
  height: 40px;
  width: 40px;
  padding: 0;
  margin-right: 15px;
  margin-top: 15px;

  color: #9196A1;
}

.content-container {
  padding: 60px;

  .mat-dialog-title {
    @include constants.default-header;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
  }

  .content {
    margin-top: 35px;
    text-align: center;

    .mat-dialog-content {
      mat-form-field {
        width: 100%;
        height: 50px;

        @include constants.default-text;
        font-size: 16px;
        line-height: 28px;
        color: #25292D;
      }

      .block-with-margin {
        margin-top: 20px;
      }
    }

  .mat-dialog-actions {
      display: block;
      margin-top: 20px;

      .main-buttons-block {
        display: flex;
        justify-content: space-between;

        .action-button {
          @include constants.default-text;
          width: 280px;
          height: 60px;
          line-height: 28px;
          font-weight: 600;
          border: 1px solid constants.$accent-color;
          border-radius: 16px;
          text-align: center;
        }

        .submit-button {
          background: constants.$accent-color;
          color: constants.$contrast-white;
        }

        .cancel-button {
          background: transparent;
          color: constants.$accent-color;
        }

      }

      .extra-button {
        margin-top: 40px;
        @include constants.default-text;
        font-weight: 600;
        width: 240px;
        height: 28px;
        line-height: 28px;
        background: none;
        border: none;
        color: constants.$accent-color;
        border-bottom: 1px dashed;
      }
    }
  }

}
