<div id="header-block">
  <h1>Готовь и делись рецептами</h1>
  <p>Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте.</p>
  <div id="action-buttons">
    <button mat-stroked-button class="action-button add-recipe-button" (click)="logIn()">
      <mat-icon>add</mat-icon>
      <span>Добавить рецепт</span>
    </button>
    <button *ngIf="!authTokenManager.isAuthorized"
            mat-stroked-button class="action-button login-button" (click)="addRecipe()">Войти</button>
  </div>
</div>
