@use '../../shared-styles/constants';

#search-form {
  height: 80px;
  display: flex;
  justify-content: flex-start;

  h2 {
    @include constants.default-header;
    font-size: 24px;
    line-height: 30px;
    height: 70px;
    flex: 0 0.2 200px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  #search-block {
    flex: 1 1 200px;
    margin: 0 0 0 5px;

    #search-input {
      @include constants.default-text;
      padding: 0 0 0 15px;

      height: 66px;
      line-height: 22px;
      font-weight: 500;
      width: 100%;

      border-radius: 16px;
      border-color: transparent;
      background: white;
      box-shadow: 0 8px 42px rgba(34, 39, 47, 0.04);
    }

    #selected-tags-line {
      display: flex;
      margin-top: 10px;

      .tag {
        @include constants.default-text;
        font-size: 16px;
        color: #808080;
        margin-left: 20px;
      }
    }

  }


  #search-button {
    @include constants.default-text;
    height: 70px;
    margin-left: 26px;
    flex: 0 0 150px;
    border-radius: 16px;
  }
}
