<div id="search-form">
  <div *ngIf="isExtended" id="search-top-block">
    <h2>Поиск рецептов</h2>
    <p>Введите примерное название блюда, а мы по тегам найдем его</p>
  </div>
  <div id="search-form-content">
    <h3 *ngIf="!isExtended">Поиск рецепта</h3>
    <div id="search-block">
      <input (keyup.enter)="search()" [formControl]="searchService.searchString" id="search-input" matInput
             placeholder="Название блюда ..">
      <div *ngIf="tags" id="selected-tags-line">
        <button (click)="selectTag(tag)" *ngFor="let tag of tags" class="tag" mat-button>
          {{tag}}
        </button>
      </div>
    </div>
    <button (click)="search()" color="accent" id="search-button" mat-flat-button type='button'>Поиск</button>
  </div>

</div>


